.table__container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  gap: 2rem;

  &--body,
  &--head {
    // display: flex;
    background-color: white;
    border-radius: 1rem;

    &--sorting-icon {
      height: 1rem;
      width: 1rem;
    }

    tr {
      display: flex;
      justify-content: space-between;
      padding: 2rem;

      th {
        display: flex;
        align-items: center;
        gap: 1rem;
      }
    }
  }
}
